In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('heart_data.csv')

In [ ]:
df.head()

,index,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        70000 non-null  int64
 1   id           70000 non-null  int64
 2   age          70000 non-null  int64
 3   gender       70000 non-null  int64
 4   height       70000 non-null  int64
 5   weight       70000 non-null  float64
 6   ap_hi        70000 non-null  int64
 7   ap_lo        70000 non-null  int64
 8   cholesterol  70000 non-null  int64
 9   gluc         70000 non-null  int64
 10  smoke        70000 non-null  int64
 11  alco         70000 non-null  int64
 12  active       70000 non-null  int64
 13  cardio       70000 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 7.5 MB

## Data Taxonomy and Variable Nature
- age: (int64), **ratio** because it is numerical and has a natural 0 value
- gender: (int64), **nominal** because it is categorical and does not have a natural order
- height: (int64), **ratio** because it is numerical and has a natural 0 value
- weight: (float64), **ratio** because it is numerical and has a natural 0 value
- ap_hi: (int64), **ratio** because it is numerical and has a natural 0 value
- ap_lo: (int64), **ratio** because it is numerical and has a natural 0 value
- cholesterol: (int64), **ratio** because it is numerical and has a natural 0 value
- gluc: (int64), **ratio** because it is numerical and has a natural 0 value
- smoke: (int64), **nominal** because it is categorical and does not have a natural order
- alco: (int64), **nominal** because it is categorical and does not have a natural order
- active: (int64), **nominal** because it is categorical and does not have a natural order
- cardio: (int64), **nominal** because it is categorical and does not have a natural order

In [5]:
df.describe()

,index,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,34999.500000,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,20207.403759,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17499.750000,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,34999.500000,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,52499.250000,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,69999.000000,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
for col in df.columns:
    print(df[col].value_counts())

index
69983    1
69982    1
69981    1
69980    1
69979    1
        ..
4        1
3        1
2        1
1        1
0        1
Name: count, Length: 70000, dtype: int64
id
99974    1
99973    1
99972    1
99971    1
99969    1
        ..
4        1
3        1
2        1
1        1
0        1
Name: count, Length: 70000, dtype: int64
age
19741    32
18236    32
20442    31
20376    31
18253    31
         ..
17241     1
16077     1
19433     1
22063     1
21451     1
Name: count, Length: 8076, dtype: int64
gender
1    45530
2    24470
Name: count, dtype: int64
height
165    5853
160    5022
170    4679
168    4399
164    3396
       ...
131       1
59        1
66        1
99        1
57        1
Name: count, Length: 109, dtype: int64
weight
65.0     3850
70.0     3764
68.0     2831
75.0     2740
60.0     2710
         ...
67.3        1
94.7        1
147.0       1
55.4        1
99.9        1
Name: count, Length: 287, dtype: int64
ap_hi
120     27699
140      9506
130      8961
110      8644
150      4450
        ...
24          1
1110        1
1205        1
187         1
2000        1
Name: count, Length: 153, dtype: int64
ap_lo
80      34847
90      14316
70      10245
100      4082
60       2727
        ...
8077        1
880         1
870         1
585         1
602         1
Name: count, Length: 157, dtype: int64
cholesterol
1    52385
2     9549
3     8066
Name: count, dtype: int64
gluc
1    59479
3     5331
2     5190
Name: count, dtype: int64
smoke
0    63831
1     6169
Name: count, dtype: int64
alco
0    66236
1     3764
Name: count, dtype: int64
active
1    56261
0    13739
Name: count, dtype: int64
cardio
0    35021
1    34979
Name: count, dtype: int64

In [11]:
df.isnull().sum()

index          0
id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64